<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tcgp.mappers.SetMapper">
    <insert id="insertSet" parameterType="com.tcgp.models.Set">
        INSERT INTO sets (set_name)
        VALUES (#{setName})
    </insert>

     <select id="getSetByIdName" parameterType="string" resultType="com.tcgp.models.Set">
        SELECT * FROM sets
        WHERE set_name = #{setName}
    </select>
</mapper>